<div class="bg">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">    
        <div class="text-center">
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>Elérhetőségek</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>Meggyesi Márk (ME8RU1)</li>
                        <li>Discord: marko159#3528</li>
                        <li></li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    </div>
    