<div class="bg">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">  
    <mat-card class="box-head">
        <mat-card-header>
            <mat-card-title [ngStyle]="{'font-style': '30px','padding-bottom': '25px'}">Mcore<section></section></mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="box">
      <mat-card-header>
          <mat-card-title>A Torrent oldal felépítése</mat-card-title>
          <mat-card-content>
            <p>Letöltés - Itt találhatóak a letölthető torrenteket.</p>
            <button mat-raised-button color="primary" type="submit" [routerLink]="'/download'">Vigyél oda</button>
            <p>Feltöltés - Itt tölthetsz fel újabb magnet torrent linkeket.</p>
            <button mat-raised-button color="primary" type="submit" [routerLink]="'/upload'">Vigyél oda</button>
            <p>Saját profil-Adataid</p>
            <button mat-raised-button color="primary" type="submit" [routerLink]="'/profile'">Vigyél oda</button>
            <p>Kérések - Itt kérheted új torrentek feltöltését, amiket mások teljesíthetnek</p>
            <button mat-raised-button color="primary" type="submit" [routerLink]="'/table'">Vigyél oda</button>
          </mat-card-content>
      </mat-card-header>
  </mat-card>
    </div>
  </div>
  
  